{{define "index"}} {{template "header" .Header}}

<div class="card">
    <div class="card-header">
        Discordの情報
    </div>
    <div class="card-body">
        <form onsubmit="find_member(); return false ">
            <p>ロールを付加するユーザ名を入力してください。</p>
            <div class="input-group mb-3 ">
                <input type="text" id="find_content" class="form-control" placeholder="eg: tkmax777" aria-label="UserName" aria-describedby="basic-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
            <div id="find_res">
            </div>
        </form>
    </div>
</div>
{{template "footer"}} {{end}}